@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SB2.Models.ViewModels.AllOrdersViewModel>


@{
    Layout = "master.cshtml";
    
}

<div class="container">
<h1>Se alle ordrer</h1>
<p>Herunder ses alle ordrer fra registrerede virksomheder i systemet.</p>

@if (Model.Orders.Any())
{
    <table class="excel-style">
        <thead>
            <tr>
                <th>Ordre Navn</th>
                <th>Kunde Navn</th>
                <th>Kunde Email</th>
                <th>Sælger</th>
                <th>Oprettet af</th>
                <th>Status</th>
                <th>Bookingtype</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.ClientName</td>
                    <td>@order.ClientEmail</td>
                    <td>@order.SalespersonName</td>
                    <td>@order.FilledBy</td>
                        <td>
                            <form method="post" asp-controller="Order" asp-action="ChangeStatus">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <select name="newStatus">
                                    <option value="Kladde" selected="@((order.Status == "Kladde") ? "selected" : null)">Kladde</option>
                                    <option value="Sendt til booker" selected="@((order.Status == "Sendt til booker") ? "selected" : null)">Sendt til booker</option>
                                </select>
                                <button type="submit">Opdater</button>
                            </form>
                        </td>
                    <td>@order.BookingType</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ingen ordrer fundet.</p>
}

</div>